body {
  background-image: url(/static/styles/pattern-light.svg);
}

.card {
    border-radius: 5px;
}

.card-content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-panel {
    border-radius: 5px;
}

.card-title {
    padding: 8px;
}

.btn-floating {
    background-color: #c5db9d;
}

.fas {
    color: #424242;
}

.mobile-fab-tip {
    position: fixed;
    right: 85px;
    padding:0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 10px;
    color: #FFF;
    width:auto;
}