<!doctype html>
<html>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/css/styles.css">
<link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>
<head>
  <title>Project Test Page</title>
</head>

<noscript>hello! i'm very glad you're here, really. but you gotta have javascript to make much use of this place.

i'm truly sorry this is the case, but, you know - internet.</noscript>

<body>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

    <div class="container">
        <nav>
            <div class="nav-wrapper deep-purple lighten-3">
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="tabs hide-on-med-and-down deep-purple lighten-3">
                <li id="feed"><a>chatter</a></li>
                <li id="directory"><a>directory</a></li>
                <li id="user"><a>user</a></li>
              </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
    </ul>
    <div class="container">
      <div class="content">
      </div>

    </div>
</body>
<script type="text/javascript" src="/static/js/materialize.js"></script>
<script>
$( "#other" ).click(function() {
  $( "#target" ).click();
});
</script>
</html>
