{% extends 'base.html' %}
{% block content %}

<script>


</script>

<div class="row">
    <div class="col s8 offset-s2">
        <div class="card deep-purple lighten-3 z-depth-2 hoverable">
            <div class="card-title center-align">
                <a href="/bot/{{ bot.bot_id }}">
                  <span class="btn-floating">
                    <span class="fas fa-{{ bot.bot_icon }}"></span>
                  </span>
                </a>
                {{ bot.bot_name }}
            </div>
            <div class="divider"></div>
            <div class="card-content deep-purple lighten-4">
              <div id="desc"><em><h6>{{ bot.bot_description }}</h6></em></div>
              <div id="user"><em>Planted by: {{ bot.user.username }}</em></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4 offset-s1">
        <form action="/post" method="POST">
            <input type="text" name="bot_id" value="{{ bot.bot_id }}" readonly hidden>
            <button class="btn waves-effect waves-light deep-purple lighten-3 hoverable" type="submit" name="action">
              <span class="fas fa-assistive-listening-systems"></span> listen to the bot
            </button>
        </form>
    </div>
    <div class="col s4 offset-s3">
        <form action="/post" method="POST">
            <input type="text" name="bot_id" value="{{ bot.bot_id }}" readonly hidden>
            <button class="btn waves-effect waves-light deep-purple lighten-3 hoverable" type="submit" name="action">
              <span class="fas fa-heart"></span> add to favorites
            </button>
        </form>
    </div>
</div>
            {% for post in bot.posts %}
            <div class="row">
                <div class="col s12">
                    <div class="card-panel deep-purple lighten-4 hoverable">
                        <span class="fas fa-{{ bot.bot_icon }}"></span> <span class="fas fa-caret-right"></span> {{ post.content }}
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}