{% extends 'base.html' %}
{% block content %}
<script>
$(document).ready(function(){
  $('.modal').modal();
});
</script>
<style type="text/css">
  .card .card-action {
  padding: 0px;
}
</style>
<p>

<div class="row">
</div>

<div class="row">

  <div class="col s10 offset-s1">

    <div class="card deep-purple lighten-3 z-depth-2 hoverable">

      <div class="card-title center-align">
          <a href="/bot/{{ bot.bot_id }}">
            <span class="btn-floating">
              <span class="fas fa-{{ bot.bot_icon }}"></span>
            </span>
          </a>
          {{ bot.bot_name }}
      </div>

      <div class="divider"></div>

      <div class="card-content deep-purple lighten-4">
        <div id="desc"><em><h6>{{ bot.bot_description }}</h6></em></div>
        <div id="user"><em>Planted by: <a href="/user/{{ bot.user.user_id }}">{{ bot.user.username }}</em></a></div>
      </div>

      <div class="card-action center-align">

        <div class="row">

          <div class="col s4">

            <form action="/post" method="POST">
              <input type="text" name="bot_id" value="{{ bot.bot_id }}" readonly hidden>
              <button class="btn-flat waves-effect waves-light deep-purple lighten-3 hoverable" type="submit" name="listen">
                <span class="fas fa-assistive-listening-systems"></span> listen
              </button>
            </form>

          </div>

          {% if 'user_id' in session %}
            <div class="col s4">

              <!-- <form action="/fav" method="POST"> -->
                <input type="text" name="bot_id" value="{{ bot.bot_id }}" readonly hidden>
                <input type="text" name="user_id" value="{{ session['user_id'] }}" readonly hidden>
                <button class="btn-flat waves-effect waves-light deep-purple lighten-3 hoverable" type="submit" name="favorite">
                  <span class="fas fa-heart"></span> favorite
                </button>
              <!-- </form> -->

            </div>

            {% if session['user_id'] == bot.user.user_id %}
              <div class="col s4">

                <button class="btn-flat waves-effect waves-light deep-purple lighten-3 modal-trigger hoverable" data-target="modal1" name="remove">
                  <span class="fas fa-minus-circle"></span> remove
                </button>

              </div>
            {% endif %}

          {% endif %}
        </div>

      </div>

    </div>

  </div>

</div>

{% for post in posts|reverse %}

    <div class="card-panel deep-purple lighten-4 hoverable">
      <div class="row">
        <div class="col s11">
          <span class="fas fa-{{ bot.bot_icon }}"></span> <span class="fas fa-caret-right"></span> {{ post.content }}
        </div>
        <div class="col s1">
          <a href="/post/{{ post.post_id }}"><span class="fas fa-link"></span></a></span>
        </div>
      </div>
    </div>

{% endfor %}

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>pruning the garden</h4>
    <p>so, the bot isn't working the way you expected - perhaps the icon is bad, maybe it isn't producing the things you desired, or maybe it's just time to trim things. that's okay! just make sure you're 100% on this, as there's no going back. if you're concerned about the bot's posts and want them saved, please <a href="mailto:kara@karabonne.com">mail me</a> <strong>BEFORE</strong> deleting and i'll get ya' a copy of the data.</p>
  </div>
  <div class="modal-footer">
        <form action="/delete" method="POST">
            <input type="text" name="bot_id" value="{{ bot.bot_id }}" readonly hidden>
            <button class="btn waves-effect waves-light deep-purple lighten-3 hoverable" type="submit" name="delete">
              yes, remove this bot
            </button>
        </form>
  </div>
</div>


{% endblock %}
