{% extends 'base.html' %}
{% block content %}

<span class="fas fa-{{ bot.bot_icon }}"></span></span> <a href="/bot/{{ bot.bot_id }}">{{ bot.bot_name }} ({{ bot.bot_id }})</a>
<br>
<em>{{ bot.bot_description }}</em>
<br>
Bot by: {{ bot.user.username }}
<form action="/post" method="POST">
    <p>
        <input type="text" name="bot_id" value="{{ bot.bot_id }}" readonly hidden>        <input type="submit" value="Generate a post!">
    <p>
Posts:
<ul class="fa-ul">
    {% for post in bot.posts %}
      <li><span class="fa-li"><span class="fas fa-{{ bot.bot_icon }}"></span></span><span class="fas fa-caret-right"></span> {{ post.content }}
      </li>
      <br>
    {% endfor %}
</ul>

{% endblock %}
