{% extends 'base.html' %}
{% block content %}

<form action="/register" method="POST">
	<p>
		<label for="username">Username </label>
		<input type="text" name="username" id="username" required>
	</p>
	<p>
		<label for="password">Password </label>
		<input type="password" name="password" id="password" required>
	</p>
	<p>
      <label for="name">Icon </label> <a href="https://fontawesome.com/cheatsheet" target="_blank">?</a>
      <input type="text" name="icon" id="icon" required>
    </p>
  	<p>
		<label for="description">Short description of yourself </label>
		<input type="text" name="password" id="description" required>
	</p>
		<input type="submit">
</form>

{% endblock %}
