<div class="row">
  <div class="col s8 offset-s2">
    <div class="card deep-purple lighten-3 z-depth-2 hoverable">
      <div class="card-title center-align">
        <span class="btn-floating">
          <span class="fas fa-{{ user.user_icon }}"></span>
        </span>
        {{ user.username }}
      </div>
      <div class="divider"></div>
      <div class="card-content deep-purple lighten-4">
        <div id="desc"><em><h6>{{ user.user_description }}</h6></em></div>
      </div>
    </div>
  </div>
</div>

{% for bot in user.bots %}
  <div class="row">
    <div class="col s6 offset-s3">
        <div class="card-panel deep-purple lighten-4 hoverable">
        <ul>
            <a href="/bot/{{ bot.bot_id }}">
            <span class="fas fa-{{ bot.bot_icon }}"></a></span>
            <li>ID: {{ bot.bot_id }}</li>
            <li>Name: {{ bot.bot_name }}</li>
            <li>Description: {{ bot.bot_description }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endfor %}