
:root {
  --mdc-theme-primary: #5a5475;
  --mdc-theme-secondary: #C2FFDF;
  --mdc-theme-on-primary: #F8F8F2;
  --mdc-theme-on-secondary: #000000;
}

body {
  background-color: #716799;
}

.mdc-card {
  height: 350px;
  width: 350px;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

.card .card-action {
  padding: 0px;
}